@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


h1{
    font-family: 'Rubik Iso', cursive;
   font-size: 2.9em;
   color: yellow;
}
.head{
    padding:0;
}

.bgcolor{
    background: rgba(200, 200, 32, 0.911);
color: blue;
}