body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(205, 29, 85),rgb(44, 44, 161),rgb(132, 219, 66));
   /* #229c32, #d5c31d); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
